on early-init

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1
    setprop prepdecrypt.setpatch true
    start vendor.boot-qti
    mkdir /persist 0771 system system
    mkdir /mnt/vendor 0755 root root
    mkdir /mnt/vendor/persist 0771 system system

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on early-fs
    write /proc/sys/walt/sched_lib_name "recovery,Updater,updater,update_engine_sideload"
    write /proc/sys/walt/sched_lib_mask_force 255

on fs
    wait /dev/block/platform/soc/1d84000.ufshc
    symlink /dev/block/platform/soc/1d84000.ufshc /dev/block/bootdevice
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    wait /dev/block/bootdevice/by-name/persist 10
    mount ext4 /dev/block/bootdevice/by-name/persist /persist noatime nosuid nodev barrier=1
    mount none /persist /mnt/vendor/persist bind

on property:twrp.qcom.mounts.ready=1
    wait /sys/kernel/boot_adsp/ssr 10
    write /sys/kernel/boot_adsp/ssr 1
    wait /sys/class/power_supply/battery 10
    start vendor.health-default

on property:hwservicemanager.ready=true
    setprop sys.boot_completed 1

on property:ro.crypto.state=encrypted && property:ro.boot.dynamic_partitions=true
    start prepdecrypt.vendor

on property:init.svc.vendor.qseecomd=running
    start vendor.gatekeeper_default

service post-boot-script /system/bin/sh -c /vendor/bin/init.kernel.post_boot-canoe_default_6_2.sh
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0

on property:vendor.sys.listeners.registered=true
    start gto_secure_element_aidl_service
